.Game{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(43, 47, 53, 100%); */
    border-radius: 1.25rem;
    transition: transform 0.2s;
}

.GameImg{
    max-width:  400px;
    height: 400px;
    object-fit: cover;
    border-radius: 1.25rem;
    /* margin-top: -1.5rem; */
}

.AddGame{
    width: 30px;
    color: white;
    background-color: black;
   
}


@media (max-width: 575px) {

    .Game{
        width: 200px 
    }

    .GameImg{
        max-width: 200px;
        height: 200px;
    }
 }